@import './reset';

body {
	display: block;
	width: 100vw;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 18px;
	line-height: 1.5;
	text-align: center;
	color: #434343;
	background: #ffffff;
}

.one,
.two,
.three {
	position: relative;
	cursor: pointer;
	padding: 16.5vh 16vw;
}

.one {
	background: #7bdff2;
}

.two {
	background: #b2f7ef;
}

.three {
	background: #eff7f5;
}

.trumpet {
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 100px;
	transform: translate3d(-50%, -50%, 0);
}
