@import './reset';

body {
	display: block;
	width: 100vw;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 18px;
	line-height: 1.5;
	text-align: center;
	color: #ffffff;
}

.container {
	width: 100%;
	overflow: hidden;
}

.slides-container {
	white-space: nowrap;
	cursor: pointer;
	margin-top: calc(50vh - 100px);
	overflow: scroll;
	padding: 0 10px;

	&--active {
		cursor: grabbing;
  		cursor: -webkit-grabbing;
	}
}

.slide {
	display: inline-block;
	width: 200px;
	height: 200px;
	text-align: center;
	font-size: 100px;
	font-weight: 700;
	line-height: 200px;
	background: coral;
	user-select: none;
	margin: 0 20px;
}
