@import './reset';

body {
	display: block;
	width: 100vw;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 18px;
	line-height: 1.5;
	text-align: center;
	color: #434343;
	background: #ffffff;
}

.top {
	background: #e1f7d5;
	min-height: 300px;
}

.sticky {
	background: #ffbdbd;
	min-height: 100px;

	.sticky_active & {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
	}
}

.bottom {
	background: #c9c9ff;
	min-height: 200vh;
}
